.s-advantages
  background-color: #fff

  .s-advantages__container
    padding: 40px 15px
    box-sizing: border-box
    justify-content: space-around
    display: flex

  .s-advantages__item
    margin: 0 10px
    text-align: center
    font-size: 15px
    color: #000000
    flex-basis: calc(25% - 20px)

    > div
      height: 52px