<section class="s-advantages">
    <div class="container s-advantages__container">
        <div class="s-advantages__item">
            <div><img src="images/icons/icon.s-welcome.1.png" alt=""></div>
            <p>Занятия от <strong>150 рублей</strong>. Дешевле, чем билет в кино!</p>
        </div>
        <div class="s-advantages__item">
            <div><img src="images/icons/icon.s-welcome.2.png" alt=""></div>
            <p><strong>Вернем 150% стоимости курса</strong>, если Вы не заговорите на английском </p>
        </div>
        <div class="s-advantages__item">
            <div><img src="images/icons/icon.s-welcome.3.png" alt=""></div>
            <p>Наши преподаватели <strong>живут или жили за рубежом</strong> и регулярно общаются с носителями языка</p>
        </div>
        <div class="s-advantages__item">
            <div><img src="images/icons/icon.s-welcome.4.png" alt=""></div>
            <p>Уникальная методика быстрого запоминания <strong>5 000 базовых слов и фраз</strong></p>
        </div>
    </div>
</section>