<div class="s-ask-question">
    <div class="container">
        <div class="s-ask-question__box">
            <p>ОСТАЛИСЬ ВОПРОСЫ ПО КУРСАМ?</p>
            <button class="button button-yellow">задать вопрос</button>
        </div>
    </div>
</div>