<div class="s-ask-question">
    <div class="container">
        <div class="s-ask-question__box">
            <p>ОСТАЛИСЬ ВОПРОСЫ ПО КУРСАМ?</p>
            <a href="#" class="button button-yellow js-open-popup" data-popup-target="ask-question">задать вопрос</a>
        </div>
    </div>
</div>