<div class="s-school-facts">
    <img src="images/s-school-facts-bg.jpg" alt="" class="s-school-facts__image">
    <div class="container">
        <div class="s-school-facts__box">
            <ul class="l-checkmark">
                <li><p><strong>14 лет работы</strong>, чтобы сделать методику совершенной</p></li>
                <li><p>Более <strong>2 тысяч учеников</strong> «с нуля» свободно говорят на языке</p></li>
                <li><p>Более <strong>500</strong> человек <strong>получилим повышение</strong> благодаря нашим курса</p></li>
                <li><p><strong>98% учеников</strong> поддерживаютсвязь с преподавателями</p></li>
                <li><p><strong>1000%</strong> именно настолько наши выпускники стали увереннее в себе</p></li>
                <li><p><strong>95 из 100</strong> выпускников рекомендуют нас</p></li>
            </ul>
        </div>
    </div>
</div>