<div class="s-school-facts">
    <img src="images/pages/thumbnail-facts.jpg" alt="" class="s-school-facts__image">
    <div class="container">
        <div class="s-school-facts__box">
            <ul class="l-checkmark">
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block"><strong>14 лет работы</strong>, чтобы сделать методику совершенной</span></p></li>
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Более <strong>2 тысяч учеников</strong> «с нуля» свободно говорят на языке</span></p></li>
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Более <strong>500</strong> человек <strong>получилим повышение</strong> благодаря нашим курса</span></p></li>
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block"><strong>98% учеников</strong> поддерживаютсвязь с преподавателями</span></p></li>
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block"><strong>1000%</strong> именно настолько наши выпускники стали увереннее в себе</span></p></li>
                <li><p class="fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block"><strong>95 из 100</strong> выпускников рекомендуют нас</span></p></li>
            </ul>
        </div>
    </div>
</div>