<section class="s-services">
    <div class="container s-services__container">
        <div class="s-services__left">
            <article class="s-services__article article">
                <img src="images/thumbnail.s-services.1.jpg" alt="" class="article__thumbnail">
                <div class="article__cover">
                    <p class="article__title">Английский для туристов</p>
                    <p class="article__excerpt">Готовимся к отпуску за 2 недели:  чтобы избежать комичных ситуаций и не  дать себя обмануть</p>
                    <div><a href="#" class="article__button">Подробнее</a></div>
                </div>
            </article>
            <article class="s-services__article article">
                <img src="images/thumbnail.s-services.2.jpg" alt="" class="article__thumbnail">
                <div class="article__cover">
                    <p class="article__title">Бизнес - английский</p>
                    <p class="article__excerpt">Адаптируем программу под любой бизнес и сферу деятельности</p>
                    <div><a href="#" class="article__button">Подробнее</a></div>
                </div>
            </article>
            <article class="s-services__article article">
                <img src="images/thumbnail.s-services.3.jpg" alt="" class="article__thumbnail">
                <div class="article__cover">
                    <p class="article__title">Готовые курсы</p>
                    <p class="article__excerpt">Материалы и задания, с которыми Вы сможете заниматься где угодно и когда угодно</p>
                    <div><a href="#" class="article__button">Подробнее</a></div>
                </div>
            </article>
        </div>
        <div class="s-services__right">
            <article class="s-services__article article">
                <img src="images/thumbnail.s-services.4.jpg" alt="" class="article__thumbnail">
                <div class="article__cover">
                    <p class="article__title">Онлайн обучение</p>
                    <p class="article__excerpt">Онлайн-обучение позволяет не довольствоваться низкоэффективными курсами только потому, что они находятся около Вашего дома, а делать выбор в пользу рабочих методик.</p>
                    <div><a href="#" class="article__button">Подробнее</a></div>
                </div>
            </article>
            <article class="s-services__article article">
                <img src="images/thumbnail.s-services.5.jpg" alt="" class="article__thumbnail">
                <div class="article__cover">
                    <p class="article__title">Удобный личный кабинет</p>
                    <p class="article__excerpt">Когда не нужно участвовать в ежедневной схватке с хитрым интерфейсом</p>
                    <div><a href="#" class="article__button">Подробнее</a></div>
                </div>
            </article>
        </div>
    </div>
</section>