<section class="s-welcome">
    <p class="s-welcome__title">Онлайн-обучение <br>английскому языку <br>из любой точки планеты</p>
    <p class="s-welcome__excerpt">Делаем изучение языка интересным и эффективным!</p>
    <a href="#" class="s-welcome__button">Записаться <br> на пробный урок</a>
</section>