<div class="s-school-facts s-school-facts--reverse">
    <img src="images/pages/thumbnail-facts-6.jpg" alt="" class="s-school-facts__image">
    <div class="container">
        <div class="s-school-facts__box">
            <div class="fw-flex fw-flex-column fw-flex-row@m fw-flex-middle@m fw-flex-space-between fw-border-bottom-1 fw-border-color-black fw-border-style-solid fw-pb-20">
                <div class="fw-mr-0 fw-mr-20@m fw-flex-shrink-1">
                    <p class="fw-fz-24 fw-font-medium fw-line-height-1-2">Новая группа курса «Деловой
                        английский» стартует 11 мая 2017!</p>
                </div>
                <div class="fw-flex-shrink-no fw-mt-15 fw-mt-0@m"><a href="#"
                                                                     class="button button-red js-open-popup"
                                                                     data-popup-target="callback-popup">Записаться</a>
                </div>
            </div>
            <p class="fw-check-mark fw-mt-20 fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Расписание вебинарных занятий с преподавателем: понедельник, четверг с 20:00 до 20:30, суббота с 11.00 до 12.00 (отсутствующим предоставляется запись).</span>
            </p>
            <p class="fw-check-mark fw-mt-15 fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Регулярная разговорная практика по телефону</span>
            </p>
            <p class="fw-check-mark fw-mt-15 fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Домашние задания в форме перевода: не больше 15 минут на каждое!</span>
            </p>
        </div>
    </div>
</div>