<div class="s-vg-courses fw-mt-15">
    <div class="container">
        <div class="s-vg-courses__grid">
            <div>
                {% include '../panels/p-user.twig' with {src: 'images/vera-gorpinich-thumbnail.jpg', name: 'Вера Горпинич' } %}
            </div>
            <div class="fw-mt-20@xs fw-mt-0@m">
                <div class="fw-pl-15 fw-pl-60@m fw-pt-40 fw-pt-60@m fw-pb-40 fw-pb-60@m fw-pr-15 fw-pr-30@m">
                    <p class="fw-font-medium fw-fz-24">Автор курса</p>
                    <div class="fw-flex fw-mt-30">
                        <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                        </div>
                        <p class="fw-flex-grow-1 fw-line-height-1-5"><span class="fw-mt-inverse-5 fw-block">Основатель онлайн-школы «Школа Веры Горпинич», выпускниками которой стали более 6 000 человек</span>
                        </p>
                    </div>
                    <div class="fw-flex fw-mt-30">
                        <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                        </div>
                        <p class="fw-flex-grow-1 fw-line-height-1-5"><span class="fw-mt-inverse-5 fw-block">Несколько лет жила за границей, имеет большой опыт общения с носителями языка, регулярно практикуется с англоязычными друзьями, чтобы быть в курсе его динамики. Автор курсов быстрого и эффективного изучения разговорного английского, делового английского, английского для туристов</span>
                        </p>
                    </div>
                    <div class="fw-flex fw-mt-30">
                        <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                        </div>
                        <p class="fw-flex-grow-1 fw-line-height-1-5"><span class="fw-mt-inverse-5 fw-block">Регулярно проводит бесплатные семинары, которые посетили более 50 000 человек</span>
                        </p>
                    </div>
                </div>
                <div class="s-vg-courses__media s-vg-courses__media--frame">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mZS6euPXlMI?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>