<div class="fw-mt-15 fw-mb-15">
    <div class="container">
        <div class="fw-flex fw-flex-wrap fw-flex-center fw-flex-right@m fw-mt-inverse-15">
            <div class="fw-width-1-1 fw-width-420@m fw-pt-15 info-panels_hide-item">
                <a href="#">
                    <p class="fw-bg-cover fw-bg-center fw-bg-no-repeat fw-pt-20 fw-pb-20 fw-pl-20 fw-pr-20 fw-pt-40@m fw-pb-40@m fw-pl-40@m fw-pr-40@m"
                       style="background-image: url(images/pages/individual-courses/panel-bg.jpg)">
                                <span class="fw-font-roboto-condensed fw-font-bold fw-fz-24 fw-text-uppercase fw-color-white">Узнать <span
                                            class="fw-color-yellow">свой уровень</span> английского</span>
                    </p>
                </a>
            </div>
            <div class="fw-width-1-1 fw-width-550@m fw-pl-0 fw-pl-15@l fw-pt-15">
                <div class="fw-bg-cover fw-bg-center fw-bg-no-repeat fw-pt-20 fw-pb-20 fw-pl-20 fw-pr-20 fw-pt-40@m fw-pb-40@m fw-pl-40@m fw-pr-40@m"
                     style="background-image: url(images/pages/individual-courses/panel-bg-2.jpg)">
                    <div class="fw-flex fw-flex-wrap fw-flex-wrap-no@m fw-mt-inverse-15">
                        <div class="fw-width-1-1 fw-flex-shrink-1 fw-mt-15">
                            <p class="fw-font-roboto-condensed fw-font-bold fw-fz-24 fw-text-uppercase fw-color-white">
                                Бесплатный урок английского языка</p>
                        </div>
                        <div class="fw-flex-shrink-no fw-mt-15">
                            <a href="#" class="button button-yellow js-open-popup"
                               data-popup-target="callback-sale">ЗАПИСАТЬСЯ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>