<div class="container">
    <p class="fw-mt-15 fw-font-medium fw-fz-24 fw-mb-15">Отзывы</p>
    <div class="owl-carousel" id="reviews-carousel">
        <div class="item">
            <div class="fw-flex fw-bg-color-white fw-overflow-hidden">
                <div class="fw-flex-shrink-no fw-max-width-400 fw-ml-inverse-50 fw-visible@m">
                    <img src="images/pages/conversational-english/thumbnail.user.jpg" alt=""
                         class="fw-img-cover">
                </div>
                <div class="fw-flex-grow-1 fw-flex fw-flex-column fw-border-box fw-pl-20 fw-pl-30@m fw-pr-20 fw-pr-30@m">
                    <div class="fw-flex fw-flex-wrap fw-fz-15 fw-flex-middle">
                        <p class="fw-mt-20  fw-mr-30">Екатерина Смирнова</p>
                        <p class="fw-mt-20"><a href="javascript:void(null)" target="_blank"><i
                                        class="icon icon-vk"></i> <span class="fw-text-underline fw-ml-10">www.vk.com/smirnova30</span></a>
                        </p>
                    </div>
                    <div class="fw-mt-30 fw-flex fw-flex-middle">
                        <div class="fw-flex-shrink-no fw-ml-inverse-80@m fw-mr-30 fw-visible@s"><i
                                    class="icon icon-quote"></i></div>
                        <div class="fw-flex-grow-1"><p class="fw-font-medium fw-fz-24">Не верила в успех, <br>
                                но незаметно втянулась</p></div>
                    </div>
                    <p class="fw-fz-15 fw-line-height-1-2 fw-mt-20 fw-mb-20">У меня два высших образования,
                        поэтому я учила английский и в школе, и в двух университетах, почти 20 лет, но говорить
                        так и не научилась, считала, что у меня ужасное произношение. На курсы я пошла, когда
                        решила в очередной раз взяться за себя. Честно, думала, что брошу на середине, но с
                        каждым занятием мне становилось все интереснее, я начала с увлечением делать
                        задания...</p>
                    <div class="fw-mt-auto fw-text-center fw-text-right@m fw-mb-20@xs fw-mb-0@m">
                        <a href="#"
                           class="fw-width-1-1@xs fw-width-auto@m button button-yellow owl-next button-arrow">Следующая
                            история</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="fw-flex fw-bg-color-white fw-overflow-hidden">
                <div class="fw-flex-shrink-no fw-max-width-400 fw-ml-inverse-50 fw-visible@m">
                    <img src="images/pages/conversational-english/thumbnail.user.jpg" alt=""
                         class="fw-img-cover">
                </div>
                <div class="fw-flex-grow-1 fw-flex fw-flex-column fw-border-box fw-pl-20 fw-pl-30@m fw-pr-20 fw-pr-30@m">
                    <div class="fw-flex fw-flex-wrap fw-fz-15 fw-flex-middle">
                        <p class="fw-mt-20  fw-mr-30">Екатерина Смирнова</p>
                        <p class="fw-mt-20"><a href="javascript:void(null)" target="_blank"><i
                                        class="icon icon-vk"></i> <span class="fw-text-underline fw-ml-10">www.vk.com/smirnova30</span></a>
                        </p>
                    </div>
                    <div class="fw-mt-30 fw-flex fw-flex-middle">
                        <div class="fw-flex-shrink-no fw-ml-inverse-80@m fw-mr-30 fw-visible@s"><i
                                    class="icon icon-quote"></i></div>
                        <div class="fw-flex-grow-1"><p class="fw-font-medium fw-fz-24">Не верила в успех, <br>
                                но незаметно втянулась</p></div>
                    </div>
                    <p class="fw-fz-15 fw-line-height-1-2 fw-mt-20 fw-mb-20">У меня два высших образования,
                        поэтому я учила английский и в школе, и в двух университетах, почти 20 лет, но говорить
                        так и не научилась, считала, что у меня ужасное произношение. На курсы я пошла, когда
                        решила в очередной раз взяться за себя. Честно, думала, что брошу на середине, но с
                        каждым занятием мне становилось все интереснее, я начала с увлечением делать
                        задания...</p>
                    <div class="fw-mt-auto fw-text-center fw-text-right@m fw-mb-20@xs fw-mb-0@m">
                        {#<a href="#" class="fw-width-1-1@xs fw-width-auto@m button button-red owl-prev button-arrow">Предыдущая история</a>#}
                        <a href="#"
                           class="fw-width-1-1@xs fw-width-auto@m button button-yellow owl-next button-arrow">Следующая
                            история</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="fw-flex fw-bg-color-white fw-overflow-hidden">
                <div class="fw-flex-shrink-no fw-max-width-400 fw-ml-inverse-50 fw-visible@m">
                    <img src="../images/pages/conversational-english/thumbnail.user.jpg" alt=""
                         class="fw-img-cover">
                </div>
                <div class="fw-flex-grow-1 fw-flex fw-flex-column fw-border-box fw-pl-20 fw-pl-30@m fw-pr-20 fw-pr-30@m">
                    <div class="fw-flex fw-flex-wrap fw-fz-15 fw-flex-middle">
                        <p class="fw-mt-20  fw-mr-30">Екатерина Смирнова</p>
                        <p class="fw-mt-20"><a href="javascript:void(null)" target="_blank"><i
                                        class="icon icon-vk"></i> <span class="fw-text-underline fw-ml-10">www.vk.com/smirnova30</span></a>
                        </p>
                    </div>
                    <div class="fw-mt-30 fw-flex fw-flex-middle">
                        <div class="fw-flex-shrink-no fw-ml-inverse-80@m fw-mr-30 fw-visible@s"><i
                                    class="icon icon-quote"></i></div>
                        <div class="fw-flex-grow-1"><p class="fw-font-medium fw-fz-24">Не верила в успех, <br>
                                но незаметно втянулась</p></div>
                    </div>
                    <p class="fw-fz-15 fw-line-height-1-2 fw-mt-20 fw-mb-20">У меня два высших образования,
                        поэтому я учила английский и в школе, и в двух университетах, почти 20 лет, но говорить
                        так и не научилась, считала, что у меня ужасное произношение. На курсы я пошла, когда
                        решила в очередной раз взяться за себя. Честно, думала, что брошу на середине, но с
                        каждым занятием мне становилось все интереснее, я начала с увлечением делать
                        задания...</p>
                    <div class="fw-mt-auto fw-text-center fw-text-right@m fw-mb-20@xs fw-mb-0@m">
                        {#<a href="#" class="fw-width-1-1@xs fw-width-auto@m button button-red owl-prev button-arrow">Предыдущая история</a>#}
                        <a href="#"
                           class="fw-width-1-1@xs fw-width-auto@m button button-yellow owl-next button-arrow">Следующая
                            история</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>