<div class="container">
    <div class="fw-bg-color-white">
        <div class="fw-pr-20 fw-pl-20 fw-pt-20 fw-pb-20 fw-pl-25@m fw-pl-80@l fw-pt-25@m w-pt-40 fw-pt-60@l fw-pb-40 fw-pb-60@l fw-pr-25@m">
            <p class="fw-font-medium fw-color-black fw-fz-24">Как это происходит в школе <br>Веры Горпинич</p>
            <div class="info-switcher fw-mt-30">
                <ul data-switcher="{target: 'anything'}">
                    <li><a href="#"><span>Онлайн платформа</span></a></li>
                    <li><a href="#"><span>Методика обучения</span></a></li>
                    <li><a href="#"><span>Комплексный подход</span></a></li>
                </ul>
                <ul data-switcher-target="anything">
                    <li>
                        <div class="fw-flex fw-pl-20 fw-pt-20 fw-pt-0@l fw-pr-20 fw-pr-0@l fw-pb-20 fw-flex-column fw-flex-row@m fw-mr-inverse-45@l">
                            <div class="fw-flex-grow-1 fw-flex-shrink-5">
                                <p class="fw-font-merriweather fw-font-light fw-font-italic fw-fz-15 fw-mt-0 fw-mt-30@l fw-line-height-1-2">
                                    Интересно даже тем, кто не любит учиться!
                                </p>
                                <p class="fw-fz-15 fw-line-height-1-5 fw-mt-20 fw-mt-30@m">Почему многие учат
                                    язык в школе, в университете, но все равно не могут связать двух слов?
                                    Неужели это так сложно и доступно лишь избранным? Конечно, нет. Просто чаще
                                    всего это скучно и неинтересно. Поэтому в нашей школе нет банальных и нудных
                                    заданий, уроков ради галочки. Наши ученики учатся с улыбкой и искренним
                                    интересом, даже если пришли к нам не по собственному желанию, а из-за
                                    необходимости.</p>
                            </div>
                            <div class="fw-flex-shrink-2 fw-ml-15@m fw-pt-15 fw-pt-0@m fw-max-width-330 fw-width-1-1">
                                <img src="images/pages/conversational-english/info.switcher.image.jpg"
                                     class="fw-width-1-1" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="fw-flex fw-pl-20 fw-pt-20 fw-pt-0@l fw-pr-20 fw-pr-0@l fw-pb-20 fw-flex-column fw-flex-row@m fw-mr-inverse-45@l">
                            <div class="fw-flex-grow-1 fw-flex-shrink-5">
                                <p class="fw-font-merriweather fw-font-light fw-font-italic fw-fz-15 fw-mt-0 fw-mt-30@l fw-line-height-1-2">
                                    Обучение в нашей школе - легко, эффективно и доступно каждому!</p>
                                <p class="fw-fz-15 fw-line-height-1-5 fw-mt-20 fw-mt-30@m">Неважно, где Вы
                                    находитесь: Вы подключаетесь к Интернету и получаете доступ к виртуальному
                                    классу, ко всем материалам онлайн-занятий и интерактивным домашним заданиям.
                                    Вы общаетесь с педагогом, работаете с мультимедийными, максимально
                                    наглядными и доступными материалами.</p>
                            </div>
                            <div class="fw-flex-shrink-2 fw-ml-15@m fw-pt-15 fw-pt-0@m fw-max-width-330 fw-width-1-1">
                                <img src="images/pages/conversational-english/info.switcher.image.jpg"
                                     class="fw-width-1-1" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="fw-flex fw-pl-20 fw-pt-20 fw-pt-0@l fw-pr-20 fw-pr-0@l fw-pb-20 fw-flex-column fw-flex-row@m fw-mr-inverse-45@l">
                            <div class="fw-flex-grow-1 fw-flex-shrink-5">
                                <p class="fw-font-merriweather fw-font-light fw-font-italic fw-fz-15 fw-mt-0 fw-mt-30@l fw-line-height-1-2">
                                    Просто о сложном: благодаря нашей методике Вы получите комплексные знания
                                    без пробелов!</p>
                                <p class="fw-fz-15 fw-line-height-1-5 fw-mt-20 fw-mt-30@m">Вы занимаетесь по
                                    современным британским учебным материалам и авторской программе, которая
                                    строится на ассоциативном запоминании и элементарных формулах, объясняющих
                                    грамматику "на пальцах". Поэтому нашим ученикам легко дается даже самый
                                    ложный материал.</p>
                            </div>
                            <div class="fw-flex-shrink-2 fw-ml-15@m fw-pt-15 fw-pt-0@m fw-max-width-330 fw-width-1-1">
                                <img src="images/pages/conversational-english/info.switcher.image.jpg"
                                     class="fw-width-1-1" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>