body
  font-family: 'Roboto', sans-serif
  font-size: 16px

strong
  font-family: inherit
  font-weight: bold
  font-style: normal

a
  text-decoration: none

.wrapper
  display: flex
  min-height: 100vh
  min-width: 320px
  overflow: hidden

  @media screen and (max-width: 767px)
    flex-direction: column

.content
  flex-grow: 1
  flex-shrink: 1
  background-color: #ebebeb
  display: flex
  flex-direction: column
  min-width: 0

.container
  padding: 0 15px
  width: 100%
  box-sizing: border-box

.button
  display: inline-block
  box-sizing: border-box
  padding: 15px 20px
  background-color: $colorBlue
  transition: all .3s ease-in-out
  color: $colorWhite
  text-decoration: none
  font-size: 13px
  text-transform: uppercase
  font-family: 'Roboto', sans-serif
  font-weight: bold
  cursor: pointer
  line-height: 1.3
  border-color: $colorBlue
  border-width: 1px
  border-style: solid

  &.button-center
    text-align: center

  &.button-small
    padding: 10px

  &:hover
    background-color: $colorBlue * .9

  &.button-yellow
    background-color: $colorYellow
    color: $colorBlack
    border-color: $colorYellow

    &:hover
      background-color: $colorYellow * .9

  &.button-red
    background-color: $colorRed
    color: $colorWhite
    border-color: $colorRed

    &:hover
      background-color: $colorRed * .9

  &.button-transparent
    background-color: transparent
    color: $colorWhite
    border-color: $colorWhite

    &:hover
      background-color: $colorWhite
      color: $colorBlack

.b-logo
  display: flex
  align-items: center
  margin-bottom: 35px

  @media screen and (max-width: 767px)
    margin-bottom: 0

  .b-logo__image
    max-width: 55px
    flex-shrink: 0
    margin-right: 10px

    @media screen and (max-width: 959px)
      margin-left: auto

    @media screen and (max-width: 767px)
      max-width: 30px

  .b-logo__text
    flex-grow: 1
    font-family: 'Roboto', sans-serif
    font-weight: 900
    color: #3c454e
    text-transform: capitalize
    font-size: 24px
    margin: 0

    @media screen and (max-width: 959px)
      display: none

.s-vg-courses
  .s-vg-courses__title
    font-size: 24px
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: 500
    text-align: center
    margin-bottom: 30px

