// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$icon-arrow-bold-name: 'icon.arrow.bold'
$icon-arrow-bold-x: 198px
$icon-arrow-bold-y: 35px
$icon-arrow-bold-offset-x: -198px
$icon-arrow-bold-offset-y: -35px
$icon-arrow-bold-width: 5px
$icon-arrow-bold-height: 10px
$icon-arrow-bold-total-width: 210px
$icon-arrow-bold-total-height: 175px
$icon-arrow-bold-image: '../images/sprite.png'
$icon-arrow-bold: (198px, 35px, -198px, -35px, 5px, 10px, 210px, 175px, '../images/sprite.png', 'icon.arrow.bold', )
$icon-arrow-name: 'icon.arrow'
$icon-arrow-x: 193px
$icon-arrow-y: 35px
$icon-arrow-offset-x: -193px
$icon-arrow-offset-y: -35px
$icon-arrow-width: 5px
$icon-arrow-height: 10px
$icon-arrow-total-width: 210px
$icon-arrow-total-height: 175px
$icon-arrow-image: '../images/sprite.png'
$icon-arrow: (193px, 35px, -193px, -35px, 5px, 10px, 210px, 175px, '../images/sprite.png', 'icon.arrow', )
$icon-bag-name: 'icon.bag'
$icon-bag-x: 119px
$icon-bag-y: 0px
$icon-bag-offset-x: -119px
$icon-bag-offset-y: 0px
$icon-bag-width: 42px
$icon-bag-height: 49px
$icon-bag-total-width: 210px
$icon-bag-total-height: 175px
$icon-bag-image: '../images/sprite.png'
$icon-bag: (119px, 0px, -119px, 0px, 42px, 49px, 210px, 175px, '../images/sprite.png', 'icon.bag', )
$icon-book-closed-name: 'icon.book.closed'
$icon-book-closed-x: 161px
$icon-book-closed-y: 0px
$icon-book-closed-offset-x: -161px
$icon-book-closed-offset-y: 0px
$icon-book-closed-width: 32px
$icon-book-closed-height: 42px
$icon-book-closed-total-width: 210px
$icon-book-closed-total-height: 175px
$icon-book-closed-image: '../images/sprite.png'
$icon-book-closed: (161px, 0px, -161px, 0px, 32px, 42px, 210px, 175px, '../images/sprite.png', 'icon.book.closed', )
$icon-book-name: 'icon.book'
$icon-book-x: 119px
$icon-book-y: 49px
$icon-book-offset-x: -119px
$icon-book-offset-y: -49px
$icon-book-width: 41px
$icon-book-height: 41px
$icon-book-total-width: 210px
$icon-book-total-height: 175px
$icon-book-image: '../images/sprite.png'
$icon-book: (119px, 49px, -119px, -49px, 41px, 41px, 210px, 175px, '../images/sprite.png', 'icon.book', )
$icon-calendar-name: 'icon.calendar'
$icon-calendar-x: 48px
$icon-calendar-y: 101px
$icon-calendar-offset-x: -48px
$icon-calendar-offset-y: -101px
$icon-calendar-width: 38px
$icon-calendar-height: 40px
$icon-calendar-total-width: 210px
$icon-calendar-total-height: 175px
$icon-calendar-image: '../images/sprite.png'
$icon-calendar: (48px, 101px, -48px, -101px, 38px, 40px, 210px, 175px, '../images/sprite.png', 'icon.calendar', )
$icon-chat-name: 'icon.chat'
$icon-chat-x: 86px
$icon-chat-y: 101px
$icon-chat-offset-x: -86px
$icon-chat-offset-y: -101px
$icon-chat-width: 38px
$icon-chat-height: 38px
$icon-chat-total-width: 210px
$icon-chat-total-height: 175px
$icon-chat-image: '../images/sprite.png'
$icon-chat: (86px, 101px, -86px, -101px, 38px, 38px, 210px, 175px, '../images/sprite.png', 'icon.chat', )
$icon-check-mark-name: 'icon.check.mark'
$icon-check-mark-x: 193px
$icon-check-mark-y: 20px
$icon-check-mark-offset-x: -193px
$icon-check-mark-offset-y: -20px
$icon-check-mark-width: 16px
$icon-check-mark-height: 15px
$icon-check-mark-total-width: 210px
$icon-check-mark-total-height: 175px
$icon-check-mark-image: '../images/sprite.png'
$icon-check-mark: (193px, 20px, -193px, -20px, 16px, 15px, 210px, 175px, '../images/sprite.png', 'icon.check.mark', )
$icon-clock-name: 'icon.clock'
$icon-clock-x: 124px
$icon-clock-y: 101px
$icon-clock-offset-x: -124px
$icon-clock-offset-y: -101px
$icon-clock-width: 37px
$icon-clock-height: 37px
$icon-clock-total-width: 210px
$icon-clock-total-height: 175px
$icon-clock-image: '../images/sprite.png'
$icon-clock: (124px, 101px, -124px, -101px, 37px, 37px, 210px, 175px, '../images/sprite.png', 'icon.clock', )
$icon-footer-social-facebook-name: 'icon.footer.social.facebook'
$icon-footer-social-facebook-x: 161px
$icon-footer-social-facebook-y: 113px
$icon-footer-social-facebook-offset-x: -161px
$icon-footer-social-facebook-offset-y: -113px
$icon-footer-social-facebook-width: 19px
$icon-footer-social-facebook-height: 19px
$icon-footer-social-facebook-total-width: 210px
$icon-footer-social-facebook-total-height: 175px
$icon-footer-social-facebook-image: '../images/sprite.png'
$icon-footer-social-facebook: (161px, 113px, -161px, -113px, 19px, 19px, 210px, 175px, '../images/sprite.png', 'icon.footer.social.facebook', )
$icon-footer-social-vk-name: 'icon.footer.social.vk'
$icon-footer-social-vk-x: 52px
$icon-footer-social-vk-y: 37px
$icon-footer-social-vk-offset-x: -52px
$icon-footer-social-vk-offset-y: -37px
$icon-footer-social-vk-width: 24px
$icon-footer-social-vk-height: 14px
$icon-footer-social-vk-total-width: 210px
$icon-footer-social-vk-total-height: 175px
$icon-footer-social-vk-image: '../images/sprite.png'
$icon-footer-social-vk: (52px, 37px, -52px, -37px, 24px, 14px, 210px, 175px, '../images/sprite.png', 'icon.footer.social.vk', )
$icon-footer-social-youtube-name: 'icon.footer.social.youtube'
$icon-footer-social-youtube-x: 102px
$icon-footer-social-youtube-y: 141px
$icon-footer-social-youtube-offset-x: -102px
$icon-footer-social-youtube-offset-y: -141px
$icon-footer-social-youtube-width: 22px
$icon-footer-social-youtube-height: 16px
$icon-footer-social-youtube-total-width: 210px
$icon-footer-social-youtube-total-height: 175px
$icon-footer-social-youtube-image: '../images/sprite.png'
$icon-footer-social-youtube: (102px, 141px, -102px, -141px, 22px, 16px, 210px, 175px, '../images/sprite.png', 'icon.footer.social.youtube', )
$icon-medal-name: 'icon.medal'
$icon-medal-x: 193px
$icon-medal-y: 0px
$icon-medal-offset-x: -193px
$icon-medal-offset-y: 0px
$icon-medal-width: 17px
$icon-medal-height: 20px
$icon-medal-total-width: 210px
$icon-medal-total-height: 175px
$icon-medal-image: '../images/sprite.png'
$icon-medal: (193px, 0px, -193px, 0px, 17px, 20px, 210px, 175px, '../images/sprite.png', 'icon.medal', )
$icon-paper-name: 'icon.paper'
$icon-paper-x: 161px
$icon-paper-y: 42px
$icon-paper-offset-x: -161px
$icon-paper-offset-y: -42px
$icon-paper-width: 32px
$icon-paper-height: 39px
$icon-paper-total-width: 210px
$icon-paper-total-height: 175px
$icon-paper-image: '../images/sprite.png'
$icon-paper: (161px, 42px, -161px, -42px, 32px, 39px, 210px, 175px, '../images/sprite.png', 'icon.paper', )
$icon-plate-name: 'icon.plate'
$icon-plate-x: 0px
$icon-plate-y: 101px
$icon-plate-offset-x: 0px
$icon-plate-offset-y: -101px
$icon-plate-width: 48px
$icon-plate-height: 40px
$icon-plate-total-width: 210px
$icon-plate-total-height: 175px
$icon-plate-image: '../images/sprite.png'
$icon-plate: (0px, 101px, 0px, -101px, 48px, 40px, 210px, 175px, '../images/sprite.png', 'icon.plate', )
$icon-portfel-name: 'icon.portfel'
$icon-portfel-x: 161px
$icon-portfel-y: 81px
$icon-portfel-offset-x: -161px
$icon-portfel-offset-y: -81px
$icon-portfel-width: 32px
$icon-portfel-height: 32px
$icon-portfel-total-width: 210px
$icon-portfel-total-height: 175px
$icon-portfel-image: '../images/sprite.png'
$icon-portfel: (161px, 81px, -161px, -81px, 32px, 32px, 210px, 175px, '../images/sprite.png', 'icon.portfel', )
$icon-s-welcome-1-name: 'icon.s-welcome.1'
$icon-s-welcome-1-x: 52px
$icon-s-welcome-1-y: 0px
$icon-s-welcome-1-offset-x: -52px
$icon-s-welcome-1-offset-y: 0px
$icon-s-welcome-1-width: 67px
$icon-s-welcome-1-height: 37px
$icon-s-welcome-1-total-width: 210px
$icon-s-welcome-1-total-height: 175px
$icon-s-welcome-1-image: '../images/sprite.png'
$icon-s-welcome-1: (52px, 0px, -52px, 0px, 67px, 37px, 210px, 175px, '../images/sprite.png', 'icon.s-welcome.1', )
$icon-s-welcome-2-name: 'icon.s-welcome.2'
$icon-s-welcome-2-x: 50px
$icon-s-welcome-2-y: 52px
$icon-s-welcome-2-offset-x: -50px
$icon-s-welcome-2-offset-y: -52px
$icon-s-welcome-2-width: 54px
$icon-s-welcome-2-height: 40px
$icon-s-welcome-2-total-width: 210px
$icon-s-welcome-2-total-height: 175px
$icon-s-welcome-2-image: '../images/sprite.png'
$icon-s-welcome-2: (50px, 52px, -50px, -52px, 54px, 40px, 210px, 175px, '../images/sprite.png', 'icon.s-welcome.2', )
$icon-s-welcome-3-name: 'icon.s-welcome.3'
$icon-s-welcome-3-x: 0px
$icon-s-welcome-3-y: 52px
$icon-s-welcome-3-offset-x: 0px
$icon-s-welcome-3-offset-y: -52px
$icon-s-welcome-3-width: 50px
$icon-s-welcome-3-height: 49px
$icon-s-welcome-3-total-width: 210px
$icon-s-welcome-3-total-height: 175px
$icon-s-welcome-3-image: '../images/sprite.png'
$icon-s-welcome-3: (0px, 52px, 0px, -52px, 50px, 49px, 210px, 175px, '../images/sprite.png', 'icon.s-welcome.3', )
$icon-s-welcome-4-name: 'icon.s-welcome.4'
$icon-s-welcome-4-x: 0px
$icon-s-welcome-4-y: 0px
$icon-s-welcome-4-offset-x: 0px
$icon-s-welcome-4-offset-y: 0px
$icon-s-welcome-4-width: 52px
$icon-s-welcome-4-height: 52px
$icon-s-welcome-4-total-width: 210px
$icon-s-welcome-4-total-height: 175px
$icon-s-welcome-4-image: '../images/sprite.png'
$icon-s-welcome-4: (0px, 0px, 0px, 0px, 52px, 52px, 210px, 175px, '../images/sprite.png', 'icon.s-welcome.4', )
$icon-skype-name: 'icon.skype'
$icon-skype-x: 34px
$icon-skype-y: 141px
$icon-skype-offset-x: -34px
$icon-skype-offset-y: -141px
$icon-skype-width: 34px
$icon-skype-height: 34px
$icon-skype-total-width: 210px
$icon-skype-total-height: 175px
$icon-skype-image: '../images/sprite.png'
$icon-skype: (34px, 141px, -34px, -141px, 34px, 34px, 210px, 175px, '../images/sprite.png', 'icon.skype', )
$icon-table-name: 'icon.table'
$icon-table-x: 68px
$icon-table-y: 141px
$icon-table-offset-x: -68px
$icon-table-offset-y: -141px
$icon-table-width: 34px
$icon-table-height: 26px
$icon-table-total-width: 210px
$icon-table-total-height: 175px
$icon-table-image: '../images/sprite.png'
$icon-table: (68px, 141px, -68px, -141px, 34px, 26px, 210px, 175px, '../images/sprite.png', 'icon.table', )
$icon-wallet-name: 'icon.wallet'
$icon-wallet-x: 0px
$icon-wallet-y: 141px
$icon-wallet-offset-x: 0px
$icon-wallet-offset-y: -141px
$icon-wallet-width: 34px
$icon-wallet-height: 34px
$icon-wallet-total-width: 210px
$icon-wallet-total-height: 175px
$icon-wallet-image: '../images/sprite.png'
$icon-wallet: (0px, 141px, 0px, -141px, 34px, 34px, 210px, 175px, '../images/sprite.png', 'icon.wallet', )
$spritesheet-width: 210px
$spritesheet-height: 175px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($icon-arrow-bold, $icon-arrow, $icon-bag, $icon-book-closed, $icon-book, $icon-calendar, $icon-chat, $icon-check-mark, $icon-clock, $icon-footer-social-facebook, $icon-footer-social-vk, $icon-footer-social-youtube, $icon-medal, $icon-paper, $icon-plate, $icon-portfel, $icon-s-welcome-1, $icon-s-welcome-2, $icon-s-welcome-3, $icon-s-welcome-4, $icon-skype, $icon-table, $icon-wallet, )
$spritesheet: (210px, 175px, '../images/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
