<article class="p-service {{ classes }} fw-width-1-1">
    <img src="{{ thumbnail }}" alt="" class="p-service__thumbnail">
    <div class="p-service__cover">
        <p class="p-service__title">{{ title }}</p>
        <p class="p-service__excerpt">{{ excerpt }}</p>
    </div>
</article>