{% extends "layouts/app.twig" %}

{% block pageTitle %}О школе{% endblock %}

{% set page = 'about' %}

{% block content %}
    <div class="fw-pt-40 fw-pt-80@l fw-pb-40 fw-pb-80@l fw-bg-cover fw-bg-center fw-bg-no-repeat" data-parallax
         style="background-image: url('images/pages/about-school/bg.jpg')">
        <div class="container">
            <div class="fw-pl-25@m fw-pl-80@l">
                <div class="fw-mb-30">
                    {% include 'components/l-breadcrumbs.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'О Школе'}]} %}
                </div>
                <div class="fw-max-width-700">
                    <p class="fw-font-merriweather fw-color-yellow fw-font-bold fw-font-italic fw-fz-18">Эффективное и
                        интересное обучение до результата!</p>
                    <div class="fw-mt-20">
                        <p class="fw-font-roboto-condensed fw-font-bold fw-color-white fw-text-uppercase fw-fz-24 fw-fz-32@s fw-fz-54@m fw-line-height-1-2">
                            Школа английского языка как школа успеха!</p>
                    </div>
                    <div class="fw-grid fw-grid-middle fw-grid-20 fw-grid-50@m fw-mt-40">
                        <div class="fw-width-1-1@s fw-width-1-2@m">
                            <p class="fw-font-roboto fw-font-bold fw-fz-15 fw-color-white fw-line-height-1-5">Мы работаем на удобной
                                онлайн-платформе и доказываем, что выучить английский может каждый. Стоимость занятий -
                                от 150 рублей за урок!</p>
                        </div>
                        <div class="fw-width-1-1@s fw-width-1-2@m"><a href="#" class="button button-red button-center js-open-popup" data-popup-target="callback-sale">Записаться
                                на бесплатный вебинар</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="after-parallax-container">
        {% include 'sections/s-school-facts.twig' %}

        <div class="fw-mt-15">
            <div class="container">
                <div class="fw-bg-color-white fw-pt-40 fw-pt-80@l fw-pb-40 fw-pb-80@l fw-text-center fw-pr-15 fw-pl-15">
                    <div class="fw-max-width-760 fw-inline-block">
                        <p class="fw-font-roboto fw-font-medium fw-text-uppercase fw-fz-24 fw-color-black fw-mb-40">
                            Делаем
                            ОБРАЗОВАНИЕ ЛЁГКИМ И ДОСТУПНЫМ</p>
                        <p class="fw-font-merriweather fw-font-light fw-font-italic fw-fz-15 fw-color-black fw-line-height-1-7">
                            Успешное образование в современном мире – это образование без границ. За 14 лет
                            существования
                            школы мы сумели объединить в нашей методике инновационные технологии обучения, принцип
                            доступности и открытости и огромное желание вывести изучение иностранного языка за стены
                            серых
                            классов и скучных учебников. Нам не приходится заставлять или упрашивать учеников сделать
                            очередное задание: мы даем им мотивацию, интерес и веру в себя, с которыми они с искренним
                            интересом покоряют учебные вершины.</p>
                    </div>
                </div>
                <div class="fw-grid fw-grid-15">
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.1.jpg', title: 'Онлайн-курсы иностранных языков', excerpt: 'Занятия из любого удобного места: наши ученики осваивают каждую ступень языка за 3 месяца'} %}
                    </div>
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.2.jpg', title: 'Обучение для детей в классах', excerpt: 'Мы помогаем не только улучшать оценки и сдавать экзамены, но и прививаем любовь к иностранному языку. Просто потому, что у нас легко и весело!'} %}
                    </div>
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.3.jpg', title: 'Экспресс-курсы', excerpt: 'Подготовим к путешествию, важной встрече за 2 недели: интенсивное погружение с изучением специализированной лексики.'} %}
                    </div>
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.4.jpg', title: 'Магазин готовых курсов', excerpt: 'Вы получаете полную свободу действий и можете изучать язык в любом месте, в любое время и в любом режиме. Авторская методика, структурированный материал и наглядная подача гарантируют результат.'} %}
                    </div>
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.5.jpg', title: 'Услуги переводчика', excerpt: 'Переводчик, с которым Вам не будет стыдно перед партнерами, с которым Вы не упустите возможности и будете впереди конкурентов.'} %}
                    </div>
                    <div class="fw-width-1-1 fw-width-1-2@m">
                        {% include 'panels/p-service.twig' with {thumbnail: 'images/pages/about-school/thumbnail.service.6.jpg', title: 'Корпоративный сектор', excerpt: 'Мы помогаем расширять бизнес и выходить на международный уровень. Составление индивидуальной программы под нужды бизнеса без отрыва сотрудников от основных обязанностей'} %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fw-mt-15">
            <div class="container">
                <div class="fw-pl-40@m fw-pl-80@l">
                    <div class="fw-bg-color-white fw-mr-inverse-15@m fw-pt-40 fw-pb-60 fw-pr-15 fw-pr-30@m fw-pl-15 fw-pl-80@m">
                        <div class="fw-grid fw-grid-middle fw-grid-20 fw-grid-50@l">
                            <div class="fw-width-1-1 fw-width-2-5@l"><p
                                        class="fw-font-roboto fw-font-medium fw-fz-24 fw-color-black">Принципы нашей
                                    работы</p></div>
                            <div class="fw-width-1-1 fw-width-3-5@l"><p
                                        class="fw-font-merriweather fw-font-italic fw-fz-15 fw-color-black fw-line-height-1-5">
                                    Наш главный принцип – изучение иностранного языка может и должно быть интересным и
                                    результативным! Мы на собственном опыте убедились в том, что:</p></div>
                        </div>
                        <div class="fw-grid fw-grid-20 fw-grid-50@m fw-mt-30 fw-mt-50@m">
                            <div class="fw-width-1-1 fw-width-1-2@m"><p class="fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">У каждого внутри есть желание развиваться и учить язык. Нужно просто раскрыть это желание и замотивировать человека</span></p></div>
                            <div class="fw-width-1-1 fw-width-1-2@m"><p class="fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Любая цель достижима. Выучить ключевые туристические фразы за 2 недели, освоить английский с нуля или профессиональный лексикон за 3 месяца – все это доступно нашим ученикам.</span></p></div>
                            <div class="fw-width-1-1 fw-width-1-2@m"><p class="fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Любой сложный материал можно объяснить просто и доступно</span></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fw-mt-15">
            <div class="s-ask-question">
                <div class="container">
                    <div class="s-ask-question__box">
                        <p>Бесплатный урок английского языка</p>
                        <a href="#" class="button button-yellow js-open-popup" data-popup-target="callback-popup">ЗАПИСАТЬСЯ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-vg-courses fw-mt-15">
            <div class="container">
                <div class="s-vg-courses__grid">
                    <div>
                        {% include 'panels/p-user.twig' with {src: 'images/vera-gorpinich-thumbnail.jpg', name: 'Вера Горпинич' } %}
                    </div>
                    <div>
                        <div class="fw-pl-15 fw-pl-60@m fw-pt-40 fw-pt-60@m fw-pb-40 fw-pb-60@m fw-pr-15 fw-pr-30@m">
                            <p class="fw-font-medium fw-fz-24">Автор курса</p>
                            <div class="fw-flex fw-mt-30">
                                <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                                </div>
                                <p class="fw-flex-grow-1 fw-line-height-1-5 fw-mt-inverse-5">Основатель онлайн-школы «Школа Веры Горпинич», выпускниками которой стали более 6 000 человек</p>
                            </div>
                            <div class="fw-flex fw-mt-30">
                                <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                                </div>
                                <p class="fw-flex-grow-1 fw-line-height-1-5 fw-mt-inverse-5">Несколько лет жила за границей, имеет большой опыт общения с носителями языка, регулярно практикуется с англоязычными друзьями, чтобы быть в курсе его динамики. Автор курсов быстрого и эффективного изучения разговорного английского, делового английского, английского для туристов</p>
                            </div>
                            <div class="fw-flex fw-mt-30">
                                <div class="fw-flex-shrink-no fw-mr-15"><img src="images/icons/icon.medal.png" alt="">
                                </div>
                                <p class="fw-flex-grow-1 fw-line-height-1-5 fw-mt-inverse-5">Регулярно проводит бесплатные семинары, которые посетили более 50 000 человек</p>
                            </div>
                        </div>
                        <div class="s-vg-courses__media s-vg-courses__media--frame">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/mZS6euPXlMI?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fw-mt-15">
            <div class="container">
                <div class="fw-pr-40@m fw-pr-80@l">
                    <div class="fw-ml-inverse-15@m fw-pl-15 fw-pl-30@m fw-bg-color-white fw-pt-40 fw-pb-60">
                        <div class="fw-text-center">
                            <div class="fw-max-width-760 fw-inline-block">
                                <p class="fw-font-roboto fw-font-medium fw-fz-24 fw-color-black">Новые возможности</p>
                                <p class="fw-font-merriweather fw-font-light fw-font-italic fw-fz-15 fw-color-black fw-line-height-1-5 fw-mt-20">
                                    Успешные люди знают сразу несколько языков. Выучить их намного проще, чем кажется.
                                    Мы
                                    поможем Вам сделать это, чтобы Вы могли</p>
                            </div>
                        </div>
                        <div class="fw-text-center">
                            <div class="fw-inline-block fw-mt-50">
                                <div class="fw-grid fw-grid-15 fw-grid-30@m fw-text-left">
                                    <div class="fw-width-1-1 fw-width-1-3@m"><p class="fw-font-roboto fw-font-bold fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Освоить профессию, о которой Вы всегда мечтали</span></p></div>
                                    <div class="fw-width-1-1 fw-width-1-3@m"><p class="fw-font-roboto fw-font-bold fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Быть на шаг впереди конкурентов</span></p></div>
                                    <div class="fw-width-1-1 fw-width-1-3@m"><p class="fw-font-roboto fw-font-bold fw-check-mark fw-line-height-1-5"><span class="fw-mt-inverse-2 fw-block">Без ограничений знакомиться с людьми по всему миру</span></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'components/reviews-carousel.twig' %}
    </div>
{% endblock %}