<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
    <div class="wrapper">
        <!-- Header block -->
        {% include "header.twig" with {'page': page} %}
        <!-- Header block end -->

        <div class="content">
            <!-- Block content -->
            {% block content %}{% endblock %}
            <!-- Block content end -->

            {% include 'footer.twig' %}
        </div>
    </div>

    <div class="popup-wrapper js-popup" data-popup="callback-popup">
        <div class="popup">
            <a href="#" class="popup__close js-close-popup"></a>
            <div class="fw-grid fw-grid-15 fw-grid-30@m fw-grid-50@l">
                <div class="fw-width-1-1 fw-width-2-5@m fw-flex fw-flex-column">
                    <p class="fw-fz-24 fw-font-medium fw-color-black fw-text-uppercase fw-line-height-1-2">Первый результат – бесплатно!</p>
                    <p class="fw-font-light fw-fz-15 fw-color-black fw-mt-30 fw-line-height-1-2">Оставьте заявку, и мы перезвоним Вам, чтобы рассказать, как получить доступ к бесплатному вебинару!</p>
                </div>
                <div class="fw-width-1-1 fw-width-3-5@m">
                    <form action="">
                        <div class="fw-flex fw-flex-column fw-flex-row@s fw-flex-middle@s">
                            <div class="fw-flex-shrink-no fw-mr-15@s fw-mb-15 fw-mb-0@s fw-width-70"><label class="fw-fz-13 fw-color-blue-dark">Ваше имя</label></div>
                            <div class="fw-flex-grow-1"><input type="text" class="fw-width-1-1 fw-height-38 fw-border-box fw-pl-20 fw-pr-20"></div>
                        </div>
                        <div class="fw-flex fw-flex-column fw-flex-row@s fw-flex-middle@s fw-mt-20">
                            <div class="fw-flex-shrink-no fw-mr-15@s fw-mb-15 fw-mb-0@s fw-width-70"><label class="fw-fz-13 fw-color-blue-dark">Телефон</label></div>
                            <div class="fw-flex-grow-1"><input type="text" class="fw-width-1-1 fw-height-38 fw-border-box fw-pl-20 fw-pr-20"></div>
                        </div>
                        <div class="fw-pl-0 fw-pl-85@s fw-border-box fw-mt-20">
                            <button type="submit" class="button button-yellow button-arrow">Получить доступ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-wrapper js-popup" data-popup="callback-sale">
        <div class="popup">
            <a href="#" class="popup__close js-close-popup"></a>
            <div class="fw-grid fw-grid-15 fw-grid-30@m fw-grid-50@l">
                <div class="fw-width-1-1 fw-width-2-5@m fw-flex fw-flex-column">
                    <p class="fw-fz-24 fw-font-medium fw-color-black fw-text-uppercase fw-line-height-1-2">Скидка 20 % до 22 апреля на курс всем участникам пробного вебинара!</p>
                    <p class="fw-font-light fw-fz-15 fw-color-black fw-mt-30 fw-line-height-1-2">Оставьте заявку, и мы перезвоним Вам, чтобы рассказать, как получить доступ к бесплатному вебинару!</p>
                </div>
                <div class="fw-width-1-1 fw-width-3-5@m">
                    <form action="">
                        <div class="fw-flex fw-flex-column fw-flex-row@s fw-flex-middle@s">
                            <div class="fw-flex-shrink-no fw-mr-15@s fw-mb-15 fw-mb-0@s fw-width-70"><label class="fw-fz-13 fw-color-blue-dark">Ваше имя</label></div>
                            <div class="fw-flex-grow-1"><input type="text" class="fw-width-1-1 fw-height-38 fw-border-box fw-pl-20 fw-pr-20"></div>
                        </div>
                        <div class="fw-flex fw-flex-column fw-flex-row@s fw-flex-middle@s fw-mt-20">
                            <div class="fw-flex-shrink-no fw-mr-15@s fw-mb-15 fw-mb-0@s fw-width-70"><label class="fw-fz-13 fw-color-blue-dark">Телефон</label></div>
                            <div class="fw-flex-grow-1"><input type="text" class="fw-width-1-1 fw-height-38 fw-border-box fw-pl-20 fw-pr-20"></div>
                        </div>
                        <div class="fw-pl-0 fw-pl-85@s fw-border-box fw-mt-20">
                            <button type="submit" class="button button-yellow button-arrow">Получить доступ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    {% include "scripts.twig" %}
</body>
</html>