<footer class="footer">
    <div class="footer__top">
        <div>
            <ul class="footer__list">
                <li>О школе</li>
                <li><a href="#">О школе</a></li>
                <li><a href="#">Наши преподователи</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="footer__copyright">&copy; 2016 – 2017  Школа иностранных языков Веры Горпинич</p>
    </div>
</footer>