<footer class="footer">
    <div class="container">
        <div class="footer__top fw-grid fw-grid-20">
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l">
                <ul class="footer__list">
                    <li>Главная</li>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="shop.html">Магазин</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l">
                <ul class="footer__list">
                    <li>О школе</li>
                    <li><a href="about-school.html">О школе</a></li>
                    <li><a href="teachers.html">Наши преподователи</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="reviews.html">Отзывы</a></li>
                    <li><a href="schedule.html">Расписание</a></li>
                </ul>
            </div>
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l">
                <ul class="footer__list">
                    <li>Курсы</li>
                    <li><a href="conversational-english.html">Разговорный английский</a></li>
                    <li><a href="school-for-tourists.html">Английский для туристов</a></li>
                    <li><a href="individual-courses.html">Индивидуальное обучение</a></li>
                    <li><a href="best-teacher.html">Ведущий преподаватель</a></li>
                    <li><a href="business-english.html">Деловой английский</a></li>
                </ul>
            </div>
            {#<div>
                <ul class="footer__list">
                    <li>Центр развития ребенка</li>
                    <li><a href="#">Развивающие занятия</a></li>
                    <li><a href="#">Подгатовка к школу</a></li>
                    <li><a href="#">Предметы начальной школы</a></li>
                    <li><a href="#">Рисование для детей</a></li>
                    <li><a href="#">Логопед</a></li>
                </ul>
            </div>#}
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l">
                <ul class="footer__list">
                    <li>Магазин Форма</li>
                    <li>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.vk.png" alt=""></a>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.facebook.png" alt=""></a>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.youtube.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="footer__copyright">&copy; 2016 – 2017  Школа иностранных языков Веры Горпинич</p>
    </div>
</footer>