<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div>
                <ul class="footer__list">
                    <li>О школе</li>
                    <li><a href="#">О школе</a></li>
                    <li><a href="#">Наши преподователи</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer__list">
                    <li>Онлайн обучение</li>
                    <li><a href="#">Разговорный английский</a></li>
                    <li><a href="#">Английский для туристов</a></li>
                    <li><a href="#">VIP-обучение</a></li>
                    <li><a href="#">Индивидуальное обучение</a></li>
                    <li><a href="#">Ведущий преподаватель</a></li>
                    <li><a href="#">Деловой английский</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer__list">
                    <li>Очное обучение</li>
                    <li><a href="#">Английский язык</a></li>
                    <li><a href="#">Немецкий язык</a></li>
                    <li><a href="#">Испанский язык</a></li>
                    <li><a href="#">Корпоративное обучение</a></li>
                    <li><a href="#">Услуги переводчика</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer__list">
                    <li>Центр развития ребенка</li>
                    <li><a href="#">Развивающие занятия</a></li>
                    <li><a href="#">Подгатовка к школу</a></li>
                    <li><a href="#">Предметы начальной школы</a></li>
                    <li><a href="#">Рисование для детей</a></li>
                    <li><a href="#">Логопед</a></li>
                </ul>
            </div>
            <div>
                <ul class="footer__list">
                    <li>Магазин Форма</li>
                    <li>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.vk.png" alt=""></a>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.facebook.png" alt=""></a>
                        <a href="#" target="_blank"><img src="images/icons/icon.footer.social.youtube.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="footer__copyright">&copy; 2016 – 2017  Школа иностранных языков Веры Горпинич</p>
    </div>
</footer>