<header class="header">
    <div class="header__toggle"><a href="#"><i class="fa fa-bars"></i></a></div>
    <div class="header__content">
        <p class="header__info">Школа иностранных языков</p>
        <div class="b-logo">
            <img src="images/logo.svg" alt="" class="b-logo__image">
            <p class="b-logo__text">Веры <br> горпинич</p>
        </div>
        {% include 'navigation.twig' %}
        <div class="fw-mt-auto fw-pr-20">
            <a href="#" class="button button-transparent-black"><div class="fw-flex fw-flex-center fw-flex-middle"><i class="icon icon-lock fw-mr-5"></i> Личный кабинет</div></a>
            <div class="fw-border-top-2 fw-border-style-dashed fw-border-color-grey-light fw-mt-20">
                <p class="fw-mt-20 fw-font-roboto-condensed fw-fz-24 fw-text-uppercase fw-color-grey-dark">8 (800) 800-80-80</p>
                <div class="fw-mt-20">
                    <a href="#" class="button fw-flex fw-flex-middle fw-flex-center"><i class="fa fa-phone fw-mr-5"></i> ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
            </div>
        </div>
    </div>
</header>