<header class="header">
    <p class="header__info">Школа иностранных языков</p>
    <div class="b-logo">
        <img src="images/logo.svg" alt="" class="b-logo__image">
        <p class="b-logo__text">Веры <br> горпинич</p>
    </div>
    {% include 'navigation.twig' %}
</header>