<ul class="navigation">
    <li class="navigation__item navigation__item--active"><a href="index.html" class="navigation__link"><span>ГЛАВНАЯ</span></a></li>
    <li class="navigation__item navigation__item--sub">
        <a href="#" class="navigation__link"><span>О ШКОЛЕ</span></a>
        <ul class="navigation__sub">
            <li class="navigation__item navigation__item--back"><a href="#" class="navigation__link"><span>Назад</span></a></li>
            <li class="navigation__item navigation__item--header"><a href="#" class="navigation__link"><span>О ШКОЛЕ</span></a></li>
            <li class="navigation__item"><a href="about-school.html" class="navigation__link"><span>О ШКОЛЕ</span></a></li>
            <li class="navigation__item"><a href="teachers.html" class="navigation__link"><span>Наши преподаватели</span></a></li>
            <li class="navigation__item"><a href="blog.html" class="navigation__link"><span>Блог</span></a></li>
            <li class="navigation__item"><a href="reviews.html" class="navigation__link"><span>Отзывы</span></a></li>
            <li class="navigation__item"><a href="schedule.html" class="navigation__link"><span>Расписание</span></a></li>
        </ul>
    </li>
    <li class="navigation__item navigation__item--sub">
        <a href="#" class="navigation__link"><span>КУРСЫ</span></a>
        <ul class="navigation__sub">
            <li class="navigation__item navigation__item--back"><a href="#" class="navigation__link"><span>Назад</span></a></li>
            <li class="navigation__item navigation__item--header"><a href="#" class="navigation__link"><span>КУРСЫ</span></a></li>
            <li class="navigation__item"><a href="online-courses.html" class="navigation__link"><span>КУРСЫ</span></a></li>
            <li class="navigation__item"><a href="conversational-english.html" class="navigation__link"><span>Разговорный английский</span></a></li>
            <li class="navigation__item"><a href="school-for-tourists.html" class="navigation__link"><span>Английский для туристов</span></a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>VIP-обучение</span></a></li>
            <li class="navigation__item"><a href="individual-courses.html" class="navigation__link"><span>Индивидуальное обучение</span></a></li>
            <li class="navigation__item"><a href="best-teacher.html" class="navigation__link"><span>Ведущий преподаватель</span></a></li>
            <li class="navigation__item"><a href="business-english.html" class="navigation__link"><span>Деловой английский</span></a></li>
        </ul>
    </li>
    <li class="navigation__item"><a href="shop.html" class="navigation__link"><span>МАГАЗИН</span></a></li>
    <li class="navigation__item"><a href="#" class="navigation__link"><span>КОНТАКТЫ</span></a></li>
</ul>